.greeting
{
    font-size: 55px;
    text-align: center;
    font-weight: 400;

    margin-top: 75px;

}


@media screen and not (min-width: 500px) 
{
    .greeting
    {
        display: none;
    }
}
