.header
{
    background-color: #001f3f;
    font-size: 23px;
    font-family: Arial;
    text-align: center;
    color: white;
    padding: 12px 25px;
    letter-spacing: 2.5px;
    
}

@media screen and not (min-width: 500px) 
{
    .header
    {
        text-align: left;
    }    
}

