button {

    background-color: transparent;
    font-size: 85%;
    padding: 15px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
    margin: 1.9% 1.8%;
}

button:hover {

    background-color: #001f3f;
    color: white;
}