/* ------------------------------------------General Styles------------------------------------------ */

* {
    padding: 0;
    margin: 0;

    font-family: system-ui;
}

input
{
    font-size: 25px;
    border-width: 3.5px;
    border-radius: 8px;
    border-color: black;
    padding: 1.2% 2%;
    color: #001f3f;
}

/* --------------------------------------------Chat Page-------------------------------------------- */

.chatArea
{
    text-align: center;
    /* background-color: #1e036a;    */
}


/* ----------------------------------DATA STORAGE PAGE STYLES ------------------------------------*/

.searchContainer
{
    text-align: center;
    padding-top: 11%;
    margin: 0 10vw;
    
}