/* ------------------------------------------General Styles------------------------------------------ */

* {
    padding: 0;
    margin: 0;

    font-family: system-ui;
}

input
{
    font-size: 23px;
    border-width: 3.5px;
    border-radius: 5px;
    border-color: black;
    padding: 15px; 
    /* width: 270px; */
    color: #001f3f;
    text-align: left;
}

/* --------------------------------------------Chat Page-------------------------------------------- */

.chatArea
{
    margin-top: 25%;
    /* padding-top: 300px;  */
    /* text-align: center; */
    background-color: #1e036a;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* ----------------------------------DATA STORAGE PAGE STYLES ------------------------------------*/

.searchContainer
{
    text-align: center;
    padding-top: 11%;
    margin: 0 10vw;
    
}